/* base styles */
body {
    background-color: #FFF;
    color: #434455;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

  /* reset styles */
  h1,
  h2,
  h3,
  p {
      margin: 0;
  }
  ul,
  ol,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
a {
    color: currentColor;
    text-decoration: none;
}
address {
    font-style: inherit;
}
button {
    font-family: inherit;
    color: currentColor;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    border: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* common styles */
.container {
    width: 1158px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;   
    /* outline: 2px solid green;
    outline-offset: -2px; */
}
.section {
    padding: 120px 0px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo,
.form-label,
.form-textarea,
.checkbox-label {
    line-height: 1.17;
}
.logo-dark,
.nav-link,
.benefits-captain,
.users-subject,
.users-review,
.portfolio-subject,
.portfolio-captain,
.modal-desc {
    color: #2E2F42;
}
.logo-light,
.footer-slogan,
.overlay {
    color: #F4F4FD;
}
.nav-link,
.hero-btn,
.benefits-captain,
.users-review,
.portfolio-captain,
.social-desc,
.subscribe-desc,
.subscribe-btn,
.modal-desc,
.form-btn {
    font-weight: 500;
}
.nav-link, 
.address-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:focus,
.nav-link:hover,
.address-link:focus,
.address-link:hover,
.nav-link:active {
    color: #404BBF;
}
.hero,
.footer {
    background-color: #2E2F42;
}
.hero,
.hero-btn,
.social-desc,
.form-btn,
.subscribe-desc {
    color: #FFF;
}
.benefits-item,
.users-item {
    width: calc((100% - 3 * 24px) / 4);
}
.benefits-captain,
.users-review,
.portfolio-captain {
    font-size: 20px;
    line-height: 1.2;
}
.benefits-desc,
.users-desc,
.portfolio-desc {
    color: #434455;
}
.hero-title,
.subject,
.modal-desc,
.subscribe-btn,
.form-btn {
    text-align: center;
}
.subject {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.hero-btn,
.social-item,
.form-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn,
.subscribe-input,
.subscribe-btn,
.form-label,
.form-btn,
.form-textarea,
.checkbox-label {
    letter-spacing: 0.04em;
}
.hero-btn,
.form-btn {
    background-color: #4D5AE5;
    line-height: inherit;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
}
.subscribe-input,
.form-label,
.form-textarea,
.checkbox-label {
    font-size: 12px;
    font-weight: 400;
}

/* header */
.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
     0px 1px 1px 0px rgba(46, 47, 66, 0.16),
     0px 2px 1px 0px rgba(46, 47, 66, 0.08);

    }
.header-container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
    display: inline-flex;   
    margin-right: 76px;  
}
.logo-dark {
}
.nav-list {
    display: flex;
    gap: 40px;   
}
.nav-item {
}
.nav-link {
    display: block;
    padding: 24px 0px;
    position: relative;
}
.active {
    color: #404BBF;
}
.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    position: absolute;
    bottom: -1px;
}
/* .nav-link.active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    position: absolute;
    bottom: -1px;
} */
.header-address {
}
.address-list {
    display: flex;
    gap: 40px;
}
.address-item {
}
.address-link {
}

/* hero section */
.hero {
    padding: 188px 0px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
     rgba(46, 47, 66, 0.70)),
     url(../images/hero/image-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
}
.hero-container {
    /* max-width: 1440px; */
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;

    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.hero-btn:focus,
.hero-btn:hover {
   background-color: #404BBF;
}

/* benefits section */
.benefits {
}
.benefits-list {
    display: flex;
    gap: 24px;  
}
.benefits-item {
}
.benefits-wrapper-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    margin-bottom: 8px;
}
.benefits-icon {
}
.benefits-captain {
    /* margin: 8px 0;    */
    margin-bottom: 8px;
}
.benefits-desc {
}

/* users section */
.users {
    background-color: #F4F4FD;
}
.users-subject {
}
.users-list {
    display: flex;
    border-radius: 0px 0px 4px 4px;
    gap: 24px;
}
.users-item {
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);   
}
.users-avatar {
}
.users-wrapper {
    padding: 32px 0px;
    text-align: center;
}
.users-review,
.users-desc {
    margin-bottom: 8px;
}
.socials-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.social-item {
    width: 40px;
    height: 40px;
}
.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.social-icon:focus,
.social-icon:hover {
    background-color: #404BBF;
}
.icon {
    fill: #f4f4fd;
}
/* portfolio section */
.portfolio {
}
.portfolio-subject {
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-item {
    position: relative;
    overflow: hidden;
    width: calc((100% - 2 * 24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-overlay {
    position: relative;   
    overflow: hidden;
}
.portfolio-pic {
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .overlay {
    transform: translateY(0);
}
.portfolio-wrapper {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}
.portfolio-captain {
    margin-bottom: 8px;
}
.portfolio-desc {
}

/* footer section */
.footer {
    padding: 100px 0px;
    display: flex;
}
.footer-top {
    display: flex;
    align-items: baseline;
}
.footer-logo-slogan {
    margin-right: 120px;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-slogan {
    max-width: 264px;
}
.footer-social-menu {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
.social-desc,
.subscribe-desc {
    margin-bottom: 16px;
}
.footer-icon {
    gap: 16px;
}
.footer-pic {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-pic:focus,
.footer-pic:hover {
    background-color: #31D0AA;
}
.footer-pic {
}
.footer-subscribe {
}
.subscribe-desc {
}
.form-subscribe {
    display: flex;
    align-items: center;
    gap: 24px;
}
.subscribe-label {
}
.subscribe-input {
    background-color: transparent;
    color: #FFF;
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: transparent;
    line-height: 2;
}
.subscribe-input::placeholder {
    color: currentColor;
}
.subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    padding: 8px 24px;
    background-color: #4D5AE5;
    color: #FFF;
    line-height: 1.5;
    /* gap: 16px; */
}
.subscribe-icon {
    fill: currentColor;
    margin-left: 16px;
}

/* Modal window */
.backdrop {
    background-color: rgba(46, 47, 66, 0.40);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    /* display: flex;
    align-items: center;
    justify-content: center; */

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms 
    cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
   opacity: 1;
   visibility: visible;
   pointer-events: initial;
}
.modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #FCFCFC;
    padding: 24px;
    padding-top: 72px;
    /* center */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 2px rgba(0, 0, 0, 0.20);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    color: #2E2F42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF; 
    border: none;
}
.modal-btn-icon {
    /* fill: currentColor; */
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-btn-icon:hover,
.modal-btn-icon:focus {
    fill: #ffffff;
}
.modal-desc {
    margin-bottom: 16px;
}
.form-wrapper {
    margin-bottom: 8px;
}
.form-label {
    display: block;
    margin-bottom: 4px;
}
.form-label,
.checkbox-label {
    color: #8E8F99;
}
.form-field {
    position: relative;
}
.form-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 38px;
    /* стиль контура для элемента */
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus,
.form-textarea:focus {
    border-color: #4D5AE5;
}
.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-icon {
    fill: #4D5AE5;
}
.form-field {
    margin-bottom: 16px;   
}
.form-textarea {
    width: 100%;
    resize: vertical;
    height: 120px;
    color: rgba(46, 47, 66, 0.40); 
    background-color: transparent;
    /* стиль контура */
    outline: transparent;  
    /* запрет изменения размера */
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 8px 16px; 
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
}
.form-checkbox {
    margin-bottom: 24px;
}
.checkbox-label {
    display: block;
    user-select: none;
}
.checkbox-input:checked + .checkbox-label > .checkbox-agreement {
    background-color: #404bbf;
    border: none;
    border-color: transparent;
    fill: #F4F4FD;
}
/* .checkbox-input:checked + .checkbox-label > .checbox-icon {
    opacity: 0;
} */
.checkbox-agreement {
    width: 16px;
    height: 16px;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checbox-icon {
    /* opacity: 1; */
    /* fill: var(--CLOUD, #F4F4FD); */
}
.checkbox-link {
    color: #4D5AE5;
    text-decoration-line: underline;
}
.form-btn {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.form-btn:focus,
.form-btn:hover {
   background-color: #404BBF;
}
